<!-- start custom head snippets -->

<script data-ad-client="ca-pub-4627707530768053" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<meta name="google-site-verification" content="sGjb7oDqxZe7eJTL9ryWQlR1BLI0QNPIxbbKp-mYWgg" />

<!-- insert favicons. use http://realfavicongenerator.net/ -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/custom.min.css">
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.min.css">

<!-- end custom head snippets -->
