/* Minify this CSS & add as custom.min.css. 
   Use online tools like:
    https://cssminifier.com/ 
    https://www.cleancss.com/css-minify/ 
*/

/* Remove underline from all links */
a {
    text-decoration: none;
}

/* Add link-color to navigation */
.greedy-nav a {
    color: #52adc8 !important; /*was #7a8288*/
    font-weight:bold;
}

/* center align footer */
.page__footer-copyright {
    text-align: center
}

/* Fix for home page */
a.hm1-profile:link, a.hm1-profile:visited {
    text-decoration: none;
    color: #494e52;
}

a.hm1-profile:hover, a.hm1-profile:visited {
    text-decoration: underline;
}
